HRIS_Integrations/CSV_Onboarding.json
{
    "name": "[Demo]sampleHRAPI",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 494970,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "jc-hr-api"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTHEADERS__",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 397,
                    "y": 7
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "google-sheets:getSheetContent",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 403433
                            },
                            "filter": {
                                "name": "validate api key",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{get(map(1.`__IMTHEADERS__`; \"value\"; \"name\"; \"x-api-key\"); 1)}}",
                                            "b": "",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "range": "A2:J999",
                                "select": "list",
                                "sheetId": "Sheet1",
                                "spreadsheetId": "//",
                                "includesHeaders": false,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 697,
                                    "y": -143
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Tools",
                                                "OnboardingCSV"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "mode": "chose"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": ""
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Spreadsheet and Sheet ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "fromAll",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "boolean",
                                        "label": "Table contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "A"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "B"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "C"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "D"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "E"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "F"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "G"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "H"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "I"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "J"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 6,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 2,
                                "target": "3.employees"
                            },
                            "mapper": {
                                "id": "{{2.`0`}}",
                                "jobTitle": "{{2.`8`}}",
                                "lastName": "{{2.`2`}}",
                                "location": "{{2.`5`}}",
                                "pronouns": "",
                                "username": "{{trim(2.`1`)}}.{{lower(2.`2`)}}",
                                "firstName": "{{2.`1`}}",
                                "workEmail": "{{trim(2.`1`)}}.{{lower(2.`2`)}}@shawntest.com",
                                "workPhone": "",
                                "department": "{{2.`6`}}",
                                "supervisor": "",
                                "displayName": "{{2.`1`}}{{2.`2`}}",
                                "mobilePhone": "",
                                "preferredName": "{{2.`7`}}",
                                "canUploadPhoto": "",
                                "onboardingDate": "{{2.`9`}}",
                                "employeementstatus": "active"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1096,
                                    "y": 23
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Get Range Values [2]"
                                        },
                                        "target": {
                                            "label": "Employees"
                                        }
                                    },
                                    "expect": {
                                        "__IMTTARGET__": {
                                            "nested": {
                                                "photoUploaded": {
                                                    "mode": "chose"
                                                }
                                            }
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "displayName",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "firstName",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "lastName",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "preferredName",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "jobTitle",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "workPhone",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "mobilePhone",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "workEmail",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "department",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "location",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "employeementstatus",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "pronouns",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "supervisor",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "photoUploaded",
                                        "type": "boolean",
                                        "label": null
                                    },
                                    {
                                        "name": "canUploadPhoto",
                                        "type": "number",
                                        "label": null
                                    },
                                    {
                                        "name": "onboardingDate",
                                        "type": "date",
                                        "label": null
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "json:CreateJSON",
                            "version": 1,
                            "parameters": {
                                "space": ""
                            },
                            "mapper": {
                                "employees": "{{6.array}}",
                                "total_count": "{{6.`__IMTAGGLENGTH__`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1442,
                                    "y": 18
                                },
                                "restore": {
                                    "expect": {
                                        "employees": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "total_count",
                                        "type": "number",
                                        "label": "Total Count"
                                    },
                                    {
                                        "name": "employees",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "displayName",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "firstName",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "lastName",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "username",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "preferredName",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "jobTitle",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "workPhone",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "mobilePhone",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "workEmail",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "department",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "location",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "employeementstatus",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "pronouns",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "supervisor",
                                                    "type": "text",
                                                    "label": null
                                                },
                                                {
                                                    "name": "photoUploaded",
                                                    "type": "boolean",
                                                    "label": null
                                                },
                                                {
                                                    "name": "canUploadPhoto",
                                                    "type": "number",
                                                    "label": null
                                                },
                                                {
                                                    "name": "onboardingDate",
                                                    "type": "date",
                                                    "label": null
                                                },
                                                {
                                                    "name": "employeeType",
                                                    "type": "text",
                                                    "label": null
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Employees"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{{3.json}}",
                                "status": "200",
                                "headers": [
                                    {
                                        "key": "Content-type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "default": 200,
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "advanced": true,
                                        "editable": true,
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "access denied",
                                "status": "403",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 697,
                                    "y": 157
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}